/* MOBILE */
  .app__list-item{
      margin: 0 0 2.7em 0;
      padding: 0;
      color: #F2C0B6;
  }

  .app__list-link {
    text-decoration: none;
}
/* TABLET */
@media all and (min-width: 768px) {
    
    .app__list{
        /* margin: 0 10%; */
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 19em 19em;
    }

    .app__list-item{
        width: 19em;
        margin-bottom: 0;
        background-color: #665855;
    }
}


/* DESKTOP */

@media all and (min-width: 1200px) {
    
    .app__filter-full-name{
        height: 100%;
        width: 50em;
    }
    
    .app__list{
    
        grid-template-columns: 19em 19em 19em;
    }

   
    

}
