@import './components/characterList.scss';
@import './components/characterDetail.scss';
@import './components/characterCard.scss';
@import './components/filter.scss';


/* MOBILE */

.app__header{
    text-align: center;
}

.app__title {
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/*TABLET*/

@media all and (min-width: 768px) {

    .app__main{
        display: flex;
        justify-content: space-around;
    }
}

@media all and (min-width: 1200px) {
    .app__title {
      
        font-size: 5em;
       
    }

}
